.container{
	max-width:1024px;
	padding:0;
}
header img.banner{
	width:100%;
}
header h1.main-title {
	position: absolute;
	top: 30px;
	left: 21.5%;
	font-size: 400%;
}
h1{
	padding: 0;
	margin: 0;
}
._top {
	height: 220px;
}
.footer {
	height: 100px;
	background-color: #f8f8f8;
	color: cornflowerblue;
	bottom: 0;
	width: 100%;
	max-width:1024px;
	padding-top:1%;
	padding-bottom:1%;
}
.navbar-default ul li{
	padding: 1% 0;
}
.social {
	padding: 2% 1%;
}
.navbar-left{
	width:50%;
}
.connexion {
	margin-top: 2%;
	width: 15%;
}